<div class="container">

<h1>View all Interest Groups</h1>	

	<% @igroups.each do |i| %>
		<h1><%= i.name %></h1>
        <!-- Create a record in LeagueTeams with team:@team, league:l -->
        <%= form_for @uigroups do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :interest_group_id, value: i.id %>
          <%= f.submit "Follow", data: {confirm: "Subscribe to this Interest Group?"}%>
        
        <% end %><br>
      <% end %>
	

	<%= link_to "Create New Interest Group", new_interest_group_path %>

</div>