<body id="discover">
<div class="container">
  <div class="row" style="margin-top: 2%;">
  <h2 class="discoverheader">Discover Interest Groups</h2>
  <div id="rightcreate"><%= link_to "Create New Interest Group", new_interest_group_path, class: "btn btn-primary btn-md" %></div>
</div>
  
  <div class="row">
    <% @igroups.each do |i| %>
    <div class="col-xs-12 col-sm-4 igroup">
      <div class="innerbox">
      <div>
        <a href="interest_groups/<%=i.id%>"><%= image_tag i.avatar.url, style: "background: cover; width: 160px; height: 160px; border: 3px solid #656563; border-radius: 50%; text-align: center;" %></a>
      </div>
      <h4><%= link_to i.name.titleize, interest_group_path(i), style:"color: black;" %></h4>
      <% @users.each do |u| %> 
        <% if u.id.to_i == i.user_id.to_i %>
        <h5><%= link_to u.username, user_path(u), style: "color: black;" %></h5>
        <% end %>
      <% end %> 
    <div class="count"><p style="font-size: 12pt; font-weight: bold;"><%=i.users.count %> followers</p></div>
    <div style="display: inline-block;">
      <%= form_for @uigroups do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :interest_group_id, value: i.id %>

        <% if i.user_interest_groups.map(&:user_id).include? current_user.id %>
        <%= link_to "√ Following", user_interest_group_path(i.user_interest_groups.where(:user_id => current_user.id).first.id), method: :delete, class: "btn btn-success btn-md" %>          
        <% else %>
        <%= f.submit "+ Follow", class: "btn btn-primary btn-md" %>
        <% end %>

      <% end %> <!-- closes uigroup loop -->
    </div>  <!-- closes inline-block -->
    </div>  <!-- closes innerbox -->
    </div>
    <% end %> <!-- closes igroup loop -->
  </div>  <!-- closes row -->
</div>
</body>
<%= render 'footerform' %>
