<div class="container">

	<h2><%= @igroup.name %></h2>
	
	<% @igroup.markers.each do |m| %>
	<ul style="list-style:none;">
		<li>Title: <b><%= link_to m.title, interest_group_marker_path(m.interest_group.id, m.id) %></b></li>
		<li>Description: <%= m.description %></li>
		<li>Address: <%= m.address %>, Latitude: <%= m.latitude %>, Longitdue: <%= m.longitude %></li>				
	</ul>
		<% if @igroup.user_id.to_i == current_user.id.to_i %>
			<%= link_to "Edit Marker", edit_interest_group_marker_path(@igroup, m), class: 'btn btn-warning btn-sm' %>
			<%= link_to "Delete Marker", [@igroup, m], method: :delete, class: "btn btn-warning btn-md" %>
			<% end %>
	<% end %>

	<div>
		<%= link_to "Create a new marker", new_interest_group_marker_path(@igroup), class: "btn btn-primary btn-lg" %>
	</div>
	<div>
		<%= link_to "Back to markers page", listviews_index_path, class: "btn btn-primary btn-lg" %>
	</div>
	
</div>
