

<div class="col-xs-12 marker-container", style="background-image:url('<%=@igroup.avatar.url%>');">
	<h2 class="ig-title"><%= @igroup.name.upcase %></h2>
</div>

<div class="follow">
	<div class="numfollow" style="float: right;">
	<p style="color: black; font-size: 20pt;"><b><%= @igroup.users.count %> followers</b></p>
	</div>

	 <% @igroups.each do |i| %>
	 <div class="follow button" style="float: left;">
      <%= form_for @uigroups do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :interest_group_id, value: i.id %>
        <% if i.user_interest_groups.map(&:user_id).include? current_user.id %>
        <%= link_to "√ Following", user_interest_group_path(i.user_interest_groups.where(:user_id => current_user.id).first.id), method: :delete, class: "btn btn-success btn-md" %>          
        <% else %>
        <%= f.submit "+ Follow", class: "btn btn-primary btn-md" %>
        <% end %>
      <% end %>
  </div>

</div>
<div>
		<% if @igroup.user_id.to_i == current_user.id.to_i %>
			<%= link_to "Create a new marker", new_interest_group_marker_path(@igroup), class: "btn btn-primary btn-md" %>
			<%= link_to 'Edit', edit_interest_group_path(@igroup), class: "btn btn-primary btn-md" %>
			<%= link_to "Delete", @igroup, method: :delete, data: {confirm: "Are you sure you want to delete this interest group?"}, class: "btn btn-warning btn-md" %>
		<% end %>
	<% end %>
</div>

<div class="row">
	<% @igroup.markers.each do |m| %>
	<div class="col-xs-12 col-sm-4">
		<div class="markerbox">

			<h3>
				<%= link_to m.title, interest_group_marker_path(m.interest_group.id, m.id)%>
			</h3>
			<%= image_tag m.avatar.url, class: "marker-sm"%>
	
			<div>
				<% if @igroup.user_id.to_i == current_user.id.to_i %>
				<%= link_to "Edit", edit_interest_group_marker_path(@igroup, m)%>
				<%= link_to " - Delete", [@igroup, m], method: :delete, data:{confirm:"Are you sure you want to delete this marker?"}%>
				<% end %>
			</div>

			<div>Message: <%= m.description %></div>
			<div>Address: <%= m.address %></div>				
	</div>
	</div>

<% end %>
</div>	

<div>
	<%= link_to "Back to markers page", listviews_path, class: "btn btn-primary btn-md" %>
</div>



