<body style="background: #C0B59F;">
<div class="col-xs-12 marker-container", style="background-image:url('<%=@igroup.avatar.url%>');">
		 <div class="follow button" style="float: left; margin-top: 10%;">
      <%= form_for @uigroups do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :interest_group_id, value: @igroup.id %>
        <% if @igroup.user_interest_groups.map(&:user_id).include? current_user.id %>
        <%= link_to "√ Following", user_interest_group_path(@igroup.user_interest_groups.where(:user_id => current_user.id).first.id), method: :delete, class: "btn btn-success btn-md" %>          
        <% else %>
        <%= f.submit "+ Follow", class: "btn btn-primary btn-md" %>
        <% end %>
      <% end %>
  </div>
	<h2 class="ig-title"><%= @igroup.name.upcase %></h2>
</div>

<div class="follow">
	  	<div style="float: right;">
	<% if @igroup.user_id.to_i == current_user.id.to_i %>
			<%= link_to "Create a new marker", new_interest_group_marker_path(@igroup), class: "btn btn-info btn-md" %>
			<% end %>
			</div>
<p style="color: black; font-size: 16pt;"><b><%= @igroup.users.count %> followers</b></p>

</div>

<div class="row">
	<% @igroup.markers.each do |m| %>
	<div class="col-xs-12 col-sm-4">
		<div class="markerbox">

			<h3>
				<%= link_to m.title, interest_group_marker_path(m.interest_group.id, m.id)%>
			</h3>
			<a href="<%= @igroup.id %>/markers/<%= m.id %>"><%= image_tag m.avatar.url, class: "marker-sm"%></a>
	
			<div>
				<% if @igroup.user_id.to_i == current_user.id.to_i %>
				<%= link_to "Edit", edit_interest_group_marker_path(@igroup, m)%>
				<%= link_to " - Delete", [@igroup, m], method: :delete, data:{confirm:"Are you sure you want to delete this marker?"}%>
				<% end %>
			</div>

			<div>Description: <%= m.description %></div>
			<div>Address: <%= m.address %></div>				
	</div>
	</div>

<% end %>
</div>	

<div style="text-align: center; margin: 5%;">
	<%= link_to "Back to interest groups", interest_groups_path, class: "btn btn-primary btn-md" %>
</div>

</body>


<footer>
<nav style="background: #5E5F5F; padding:0px"class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">

    <div class="navbar-center">

  <button class = "navbar-toggle mobileButt"><%= link_to "", user_path(current_user.id.to_i), class: "glyphicon glyphicon-user"%></button>
  
  <button class = "navbar-toggle mobileButt" style="width:50% !important;"><%= link_to "", mapviews_path, class: "glyphicon glyphicon-globe"%></button>   
  <button class = "navbar-toggle mobileButt"><%= link_to "", interest_groups_path, class: "glyphicon glyphicon-th-list"%></button>  



    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

   
      <ul class="nav navbar-nav navbar-center" style="text-align: center;">
        
      
        <%= link_to "© MMW", "https://github.com/malloryreuls/geointerest", class: "btn btn-lg", style:'color: white;' %>
        

      </ul> 
    </div>
  </div>
</nav>
</footer>






