<div class="container">

	<h1><%= @marker.title %></h1>

	<div><%= image_tag @marker.avatar.url %></div>

	<ul style="list-style:none;">
		<li>Title: <b><%= @marker.title %></b></li>
		<li>Description: <%= @marker.description %></li>
		<li>Address: <%= @marker.address %>, Latitude: <%= @marker.latitude %>, Longitdue: <%= @marker.longitude %></li>				
	</ul>

	<div>
		<%= link_to "Back to markers page", listviews_path, class: "btn btn-primary btn-lg" %>
	</div>


</div>
	
</div>