<div class="container">

<div class="row">
	<div class="col-xs-12">
		<div class="markerbox">
	<h1><%= @marker.title %></h1>

	<div><%= image_tag @marker.avatar.url, style: "background: cover; width: 250px; border: 3px solid #6B6C6C; border-radius: 5%; text-align: center;" %></div>
	<br />

		<div>Title: <b><%= @marker.title %></b></div>
		<div>Description: <%= @marker.description %></div>
		<div>Address: <%= @marker.address %>, Latitude: <%= @marker.latitude %>, Longitdue: <%= @marker.longitude %></div>				
</div>
</div>
</div>
</br>
	<div style="text-align: center;">
		<%= link_to "Back to Interest Group", interest_group_path(@igroup), class: "btn btn-primary btn-lg"%>
	</div>

</div>
	
</div>