<div class="container">

<div class="row">
	<div class="col-xs-12">
		<div class="markerbox">
	<h1><%= @marker.title %></h1>

	<div><%= image_tag @marker.avatar.url, style: "background: cover; width: 250px; border-radius: 3%; text-align: center; box-shadow: 0px 0px 5px 2px #6B6C6C; margin: 1%;"%></div>
	<br />

		<div><b><%= @marker.title %></b></div>
		<div><b>Description:</b> <%= @marker.description %></div>
		<div>Address: <%= @marker.address %>, Latitude: <%= @marker.latitude %>, Longitdue: <%= @marker.longitude %></div>				
</div>
</div>
</div>
</br>
	<div style="text-align: center;">
		<%= link_to "Back to Interest Group", interest_group_path(@igroup), class: "btn btn-primary btn-lg"%>
	</div>

</div>
	
</div>