<div class="container">

	<%= link_to "Map", mapviews_index_path, class: "btn btn-primary btn-lg" %>
	<h1>User's Location: <%=@location%></h1>

	<div id="current_location">

	</div>


	<h3>View all Markers Near You</h3>	

	<ul>
	<% @markers.each do |m| %>
	
	<li>Interest Group: <%= link_to m.interest_group.name, interest_group_path(m.interest_group) %></li>
		<ul>
			<li><%= link_to m.title, interest_group_marker_path(m.interest_group.id, m.id) %></li>
			<li><%= m.id %> </li>
			<li>Address: <%= m.address %></li>
		</ul>

	<% end %>
	</ul>
	
</div>
<script type="text/javascript">
   setInterval(function current_location(){ navigator.geolocation.getCurrentPosition(function(position) {
          // get location from browser
            var testid = document.getElementById("current_location");
            current_latitude = position.coords.latitude;
            current_longitude = position.coords.longitude;
            testid.textContent = "Your current location is " + current_latitude + " " + current_longitude;
       

            var cookie_val = position.coords.latitude + "," + position.coords.longitude ;
              console.log(cookie_val);
  			document.cookie = "lat_lng=" + escape(cookie_val);
          
          })}, 600000);
              
         
        //window.onload = current_location;

 </script>