<div class="container">

	<div id="current_location">

	</div>

	<h3>View all Markers Near You</h3>	

<div class="row">

	<div class="col-md-6">
	<ul class="list-group">

	<% @markers.each do |m| %>
	<%= link_to m.title, interest_group_marker_path(m.interest_group.id, m.id), class: "list-group-item active" %>
	
		<ul class="list-group">
			<li class="list-group-item">Interest Group: <%= link_to m.interest_group.name, interest_group_path(m.interest_group) %></li>
			<li class="list-group-item">Address: <%= m.address %></li>
		</ul>

	<% end %>
	</ul>
	</div>
</div>
	
</div>
<footer>
<nav style="background: #5E5F5F; padding:0px"class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">

    <div class="navbar-center">

  <button class = "navbar-toggle mobileButt"><%= link_to "", user_path(current_user.id.to_i), class: "glyphicon glyphicon-user"%></button>
  
  <button class = "navbar-toggle mobileButt" style="width:50% !important;"><%= link_to "", mapviews_path, class: "glyphicon glyphicon-globe"%></button>   
  <button class = "navbar-toggle mobileButt"><%= link_to "", interest_groups_path, class: "glyphicon glyphicon-th-list"%></button>  



    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

   
      <ul class="nav navbar-nav navbar-center" style="text-align: center;">
        
      
        <%= link_to "© MMW", "https://github.com/malloryreuls/geointerest", class: "btn btn-lg", style:'color: white;' %>
        

      </ul> 
    </div>
  </div>
</nav>
</footer>
<script type="text/javascript">
   setInterval(function current_location(){ navigator.geolocation.getCurrentPosition(function(position) {
          // get location from browser
            var testid = document.getElementById("current_location");
            current_latitude = position.coords.latitude;
            current_longitude = position.coords.longitude;
            testid.textContent = "Your current location is " + current_latitude + " " + current_longitude;
       

            var cookie_val = position.coords.latitude + "," + position.coords.longitude ;
              console.log(cookie_val);
  			document.cookie = "lat_lng=" + escape(cookie_val);
          
          })}, 600000);
              
         
        //window.onload = current_location;

 </script>