<div class = "newForms">
<h2>EDIT <%= current_user.username.upcase%></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field"><%= f.label :username %><br /><%= f.text_field :username, placeholder: "Username", :autofocus => true %></div>
<br />
  <div class="field"><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div >Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<br />
  <div class="field"><%= f.label :password %> <i><br/>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>
<br />
  <div class="field"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
<br />
  <div class="field"><%= f.label :current_password %> <i><br/>(we need your current password to confirm your changes)</i><br/>
  <%= f.password_field :current_password %></div>
<br />
  <div class="field"><b>Update Profile Photo</b></br></br><%= f.file_field :avatar, style: "margin:0 auto;"%></div>
<br>
  <div class="actions"><%= f.submit "Update", type:"submit", class: "btn btn-info"%> </div>
<% end %>

<footer>
<nav style="background: #5E5F5F; padding:0px"class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">

    <div class="navbar-center">

  <button class = "navbar-toggle mobileButt"><%= link_to "", user_path(current_user.id.to_i), class: "glyphicon glyphicon-user"%></button>
  
  <button class = "navbar-toggle mobileButt" style="width:50% !important;"><%= link_to "", mapviews_path, class: "glyphicon glyphicon-globe"%></button>   
  <button class = "navbar-toggle mobileButt"><%= link_to "", interest_groups_path, class: "glyphicon glyphicon-th-list"%></button>  



    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

   
      <ul class="nav navbar-nav navbar-center" style="text-align: center;">
        
      
        <%= link_to "© MMW", "https://github.com/malloryreuls/geointerest", class: "btn btn-lg", style:'color: white;' %>
        

      </ul> 
    </div>
  </div>
</nav>
</footer>


</br>
<%= link_to "Cancel", :back, type:"submit", class: "btn btn-info" %>
</br>
</br>
</br>
</br>

<div ><p>Unhappy with your account? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, type:"submit", class: "btn btn-info"%></p>
</div>

</div>
